body {
    text-align: center;
    background-color: #000000;
    }

h1 {
   font-family: Verdana;
   Color: white;
   font-size: 50 px;
}

h2 {
    font-family: Verdana;
    color: white;
    font-size: 42 px;
    font-weight: 300;
}

a {
      color: Aquamarine;
      font-size: 16px;
    }
}

video {
  display: block;
  margin: auto;
}

p {
    font-family: Verdana;
    color: gray;
    font-size: 21 fx;
}