body {
    text-align: center;
    background-color: #000000;
    }

h1 {
   font: Verdana
   Color: White
   font-size: 50px
}

a {
      color: Aquamarine;
      font-size: 16px;
    }
}

video {
  display: block;
  margin: auto;
}